@tailwind base;
@tailwind components;
@tailwind utilities;

.shimmer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  
  .shimmer-card {
    width: 200px;
    height: 400px;
    background-color: #f5eeee;
    margin: 20px;
    border-radius: 11px;
  }
  